<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{../vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" th:href="@{../css/sb-admin-2.min.css}" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" th:href="@{../css/comments.css}" rel="stylesheet">
    <link href="css/notifications.css" th:href="@{../css/notifications.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div th:replace="fragments.html :: navbar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="fragments.html :: topbar-simple"></div>
        <div class="row-notifications notification-container-notifications" style="height: 500px; overflow-y: scroll;">
            <div th:if="${notifications.isEmpty()}">
                <h4>No notifications yet</h4>
            </div>
            <h2 class="text-center" th:unless="${notifications.isEmpty()}">My Notifications</h2>
            <p class="dismiss text-right"><a id="dismiss-all" href="#">Dismiss All</a></p>
            <div class="card-notifications notification-card-notifications notification-invitation-notifications" th:each="notification : ${notifications}">
                <div class="card-body-notifications">
                    <table>
                        <tr>
                            <td style="width:100%">
                                <div class="card-title-notifications" th:text="${notification.description}"></div>
                                <div th:text="${notification.timeAsString()}" style="font-size: smaller;font-style: italic;"></div>
                            </td>
                            <td style="width:30%">
                                <a href="#" class="btn btn-success" th:href="@{/workitems/{id}(id=${notification.workItem.getId()})}">View</a>
                                <a href="#" class="btn btn-danger dismiss-notification" th:href="@{/dashboard/notification/{notificationId}(notificationId=${notification.id})}">Dismiss</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<script>
    const dismissAll = document.getElementById('dismiss-all');
    const dismissBtns = Array.from(document.querySelectorAll('.dismiss-notification'));

    const notificationCards = document.querySelectorAll('.notification-card');

    dismissBtns.forEach(btn => {
        btn.addEventListener('click', function(e){
            e.preventDefault;
            var parent = e.target.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
            parent.classList.add('display-none');
        })
    });

    dismissAll.addEventListener('click', function(e){
        e.preventDefault;
        notificationCards.forEach(card => {
            card.classList.add('display-none');
        });
        const row = document.querySelector('.notification-container');
        const message = document.createElement('h4');
        message.classList.add('text-center');
        message.innerHTML = 'All caught up!';
        row.appendChild(message);
    })
</script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/modal.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"
</script>
</body>
</html>