<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teams</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!--    <link href="css/sb-admin-2.min.css" th:href="@{../css/comments.css}" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments.html :: navbar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="fragments.html :: topbar"></div>

        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">My Teams</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                       th:href="@{/teams/new}"><i
                            class="fas fa-download fa-sm text-white-50"></i> Create Team</a>
                </div>

                <div class="row">
                    <span th:if="${teamsWorkItems.isEmpty()}">
                         <i><h5>You are not part of any teams yet</h5></i>
                    </span>

                    <!-- Area Chart -->
                    <div th:each="teamWorkItems : ${teamsWorkItems}" class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <!--                                <a href="#" th:href="@{/teams/{id}(id=${teamWorkItems.team.id})}" class="m-0 font-weight-bold text-primary" th:text="${teamWorkItems.team.name}">Team placeholder</a>-->
                                <a data-toggle="collapse" th:href="'#collapse'+${teamWorkItems.team.id}"
                                   class="m-0 font-weight-bold text-primary" th:text="${teamWorkItems.team.name}">Team
                                    placeholder</a>
                                <!--- form begin -->

                                <div class=" dropdown-menu-right">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Invite user
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" th:each="user : ${teamWorkItems.possibleInvitees}"
                                           th:href="@{/teams/{teamId}/invite/{userId}(teamId=${teamWorkItems.team.id},userId=${user.id})}"
                                           th:text="${user.username}"></a>
                                    </div>
                                </div>
                                <span>
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                                data-target="#exampleModal">
                                            <a th:href="@{teams/leave/{teamId}(teamId=${teamWorkItems.team.id})}">Leave team</a>
                                        </button>
                                    </span>
                            </div>
                            <!-- Card Body -->
                            <div th:id="'collapse'+${teamWorkItems.team.id}" class="panel-collapse collapse">
                                <div class="card-body">
                                    <div>
                                        <span th:each="member : ${teamWorkItems.team.members}"
                                              th:text="${member.username} + ' '"></span>
                                        <hr>
<!--                                        <div th:unless="${teamWorkItems.workItems.isEmpty()}">Work Items:</div>-->
<!--                                        <div th:each="workitem : ${teamWorkItems.workItems}">-->
<!--                                            <a th:text="${workitem.title} + ' '"-->
<!--                                               th:href="@{/workitems/{id}(id = ${workitem.getId()})}"></a>-->
<!--                                        </div>-->
                                        <div th:unless="${teamWorkItems.workItems.isEmpty()}">
                                            <table class="table table-hover" th:unless="${teamWorkItems.workItems.isEmpty()}">
                                                <h3>Work Items</h3>
                                                <thead>
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Created by</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="workitem : ${teamWorkItems.workItems}">
                                                <tr>
                                                    <td class="cell">
                                                        <a href="#" th:href="@{/workitems/{id}(id=${workitem.getId()})}"
                                                           th:text="${workitem.title}">Work Item
                                                            title</a>
                                                    </td>
                                                    <td th:text="${workitem.createdBy.username}">Created by</td>
                                                    <td th:text="${workitem.status.name}">Status</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/modal.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

