<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${workitem.getTitle()}">Work Item</title>
    <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{../vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" th:href="@{../css/sb-admin-2.min.css}" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" th:href="@{../css/comments.css}" rel="stylesheet">
</head>
<body>

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments.html :: navbar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="fragments.html :: topbar-simple"></div>

        <div id="content">
            <div class="container-fluid">
                <h3 th:text="${workitem.getTitle}">Work Item Title</h3>
                <div class="container-custom" style="height: 200px; overflow-y: scroll; background-color: #fff">
                    <p th:text="${workitem.getDescription}">Work Item Description</p>
                </div>
                <h4>

                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
                </h4>
                <br>
                <span th:if="${assignees.isEmpty()}">
                    <i><h5>Currently no reviewers are assigned to this work item</h5></i>
                </span>
                <div th:unless="${assignees.isEmpty()}" class="container-custom">
                    <label> Current reviewers</label>
                    <table class="table table-sm shadow table-condensed table-hover">
                        <thead>
                        <tr class="table-light">
                            <th class="text-center">Reviewer name</th>
                            <th class="text-center">Status</th>
                        </tr>
                        </thead>
                        <tbody class="table-hover">
                        <tr th:each="assignee : ${assignees}">
                            <td class="text-center" th:text="${assignee.user.username}">Username</td>
                            <td class="text-center">
                                <th:block th:switch="${assignee.status.name.toUpperCase()}">
                                    <div th:case="'PENDING'">
                                        <span class="badge bg-info rounded-pill" style="color:whitesmoke">pending</span>
                                    </div>
                                    <div th:case="'UNDER REVIEW'">
                                        <span class="badge bg-secondary rounded-pill" style="color:whitesmoke">under review</span>
                                    </div>
                                    <div th:case="'CHANGE REQUESTED'">
                                        <span class="badge bg-warning rounded-pill" style="color:whitesmoke">change requested</span>
                                    </div>
                                    <div th:case="'ACCEPTED'">
                                        <span class="badge bg-success rounded-pill"
                                              style="color:whitesmoke">accepted</span>
                                    </div>
                                    <div th:case="'REJECTED'">
                                        <span class="badge bg-danger rounded-pill" style="color:whitesmoke">rejected</span>
                                    </div>
                                    <span class="dropdown" th:if="${currentUser.equals(assignee.user)}">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Change status
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" th:each="status : ${statuses}"
                                               th:href="@{/workitems/{id}/reviewer/{reviewerId}/status/
                                           {statusId}(id=${workitem.id},reviewerId=${assignee.id},statusId = ${status.id})}"
                                               th:text="${status.name}"></a>
                                        </div>
                                    </span>
                                </th:block>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <form th:unless="${members.isEmpty() || !currentUser.equals(workitem.getCreatedBy())}" action="#"
                      th:action="@{/workitems/reviewer/{id}(id=${workitem.id})}"
                      th:object="${reviewer}"
                      method="post">

                    <label>Reviewer</label>
                    <div class="col-2 float-left">
                        <select class="form-select" aria-label="Default select example" th:field="*{reviewerId}"
                                style="color: #337ab7;">
                            <option th:each="user : ${members}" th:text="${user.username}" th:value="${user.id}">
                                Reviewer name
                            </option>
                        </select>
                        <label class="error-custom" th:errors="*{reviewerId}">Reviewer error placeholder</label>
                    </div>

                    <input type="submit" value="Assign" style="color: #337ab7;"/>
                </form>
                <span th:if="${comments.isEmpty()}">
                <i><h5>No comments</h5></i>
                </span>
                <div th:unless="${comments.isEmpty()}" class="container-custom">
                    <label> Current comments</label>

                    <table class="table table-sm shadow table-condensed table-hover">
                        <thead>
                        <tr class="table-light">
                            <th class="text-center">Name</th>
                            <th class="text-center">Content</th>
                        </tr>
                        </thead>
                        <tbody class="table-hover">
                        <tr th:each="comment : ${comments}">

                            <td class="text-center" th:text="${comment.user.username}">Username</td>
                            <td class="text-center" th:text="${comment.content}">Comment</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <span>
                <button type="button" class="reply px-4" data-toggle="modal" data-target="#exampleModal">
                <small>Add comment</small>
                </button>
                </span>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Your comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#"
                                      th:action="@{/workitems/comment/{id}(id=${workitem.id})}"
                                      th:object="${newComment}"
                                      method="post">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      th:field="*{content}"></textarea>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-secondary" value="Save"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <script src="js/modal.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>
<br>
<script src="js/modal.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>