<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${workitem.getTitle()}">Work Item</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:href="@{/dashboard}" th:text="#{navigation.home}">Dashboard</a></h3></li>
    <li><h3><a href="#" th:href="@{/workitems}" th:text="#{navigation.all-workitems}">Browse all Work Items</a></h3></li>
</ul>

<h2 th:text="${workitem.getTitle}">Work Item Title</h2>
<h2 th:text="${workitem.getDescription}">Work Item Description</h2>

<h3>
    <!--    <a href="#" th:href="@{/beers/{id}/update(id=${beer.getId()})}">Update</a>-->
    <!--    <a href="#" th:href="@{/beers/{id}/delete(id=${beer.getId()})}">Delete</a>-->
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${reviewer}"
      method="post">
    <label >Reviewer</label>
    <div class="col-2 float-left">
        <select class="form-select" aria-label="Default select example" th:field="*{reviewerId}">
            <option th:each="user : ${members}" th:text="${user.username}" th:value="${user.id}">Reviewer name</option>
        </select>
        <label class="error-custom" th:errors="*{reviewerId}">Reviewer error placeholder</label>
    </div>

    <input type="submit" value="Save"/>
</form>
<h3>

</h3>
</body>
</html>